.navbar-links_logo img {
  scale: 75%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.navbar-main-links {
  display: flex;
  flex-direction: row;
  height: 25px;
}

.navbar-main_links p {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 2;

  margin: 0 1rem;
}
