@import url(./colors.css);
/* Fonts */

@font-face {
  font-family: "source sans";
  src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  src: url("fonts/Lato-Regular.ttf") format("truetype");
}

/* Colors */

/* CSS Page */

.css-color1 {
  background: var(--desat-lt-blue);
}
.css-color2 {
  background: var(--win8-cyan);
}
.css-color3 {
  background: var(--metro-yellow);
}
.css-color4 {
  background: var(--flat-carrot);
}

/* General Page */

.general-color1 {
  background: var(--desat-red);
}
.general-color2 {
  background: var(--desat-river-lt);
}
.general-color3 {
  background: var(--desat-river);
}
.general-color4 {
  background: var(--desat-belize-hole);
}
/* Javascript Page */

.js-color1 {
  background: var(--desat-blue);
}
.js-color2 {
  background: var(--desat-lt-blue);
}
.js-color3 {
  background: var(--flat-concrete);
}
.js-color4 {
  background: var(--flat-sun-flower);
}

/* NodeJS Page */

.node-color1 {
  background: var(--metro-yellow);
}
.node-color2 {
  background: var(--win8-orange);
}
.node-color3 {
  background: var(--metro-dark-red);
}
.node-color4 {
  background: var(--desat-indigo);
}

/* React Page */

.react-color1 {
  background: var(--desat-cobalt);
}
.react-color2 {
  background: var(--desat-yellow);
}
.react-color3 {
  background: var(--metro-teal);
}
.react-color4 {
  background: var(--metro-magenta);
}
/* Testing Page */

.test-color1 {
  background: var(--win8-cyan);
}
.test-color2 {
  background: var(--win8-green);
}
.test-color3 {
  background: var(--win8-olive);
}
.test-color4 {
  background: var(--desat-lt-blue);
}

/* More Colors */

.white-text {
  color: var(--white);
}
.back-text {
  color: var(--black);
}
.blue-text {
  color: var(--flat-peter-river);
  font-size: 18px;
}

/* Main */
.App {
  display: grid;
  width: 100%;
}
.main {
  display: flex;
  width: 100%;
  height: 650px;
}

/* Styles for Nav Element */

.side-nav {
  display: inline-block;
  height: fit-content;
  width: 332px;
  min-width: 300px;
  border: solid black 1pt;
  vertical-align: top;
}
.link-node {
  display: inline-flex;
  vertical-align: top;
  width: 33%;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
}
.link-node:hover {
  transform: scale(1.02);
  box-shadow: 0.5px 0.5px 5px 1px;
}
.link-node:active {
  transform: scale(1);
  box-shadow: 0px 0px 0px 0px;
}

.link-node_name {
  font-family: "lato";
  font-size: 15px;
  font-weight: 800;
}

/* Styles for the Home Elements */

.home-section {
  display: inline-block;
  width: 75%;
  min-width: 300px;
  height: 90vh;
  border: solid black 1pt;
  overflow: auto;
}
.header {
  min-height: 3rem;
  display: flex;
  border-bottom: solid rgb(120, 120, 120) 3pt;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  margin: auto;
}
.home-content {
  padding: 10px;
  height: 300px;
}

.home-content p {
  font-family: "source sans";
  font-size: 16px;
  margin: 10px 30px;
  text-indent: 10px;
  letter-spacing: 0.5px;
}

.home-content a {
  font-family: "source sans";
  font-weight: bold;
}

.section-header {
  background: var(--color13);
  font-family: "source sans";
  width: 40%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 50px 10px;
  border-radius: 5px;
}

strong {
  text-decoration: underline;
}

h3 {
  font-family: "source sans";
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-left: 30px;
}

h4 {
  font-family: "source sans";
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-left: 40px;
}

.highlight {
  display: block;
  background: rgba(250, 240, 174, 0.4);
  padding: 3px;
}

/* internal links */

.internal-link-nav {
  height: fit-content;
  border: 1px black solid;
}
.internal-link-list {
  display: flex;
  font-family: "lato";
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
}

.no-list {
  list-style-type: none;
  font-size: 15px;
  margin: 10px;
}

/* lists */

.home-content ul {
  font-family: "source sans";
  font-size: 18px;
  margin-left: 40px;
}

.square-list {
  list-style-type: square;
  font-size: 18px;
}

.home-content li {
  margin: 10px 0;
}

/* table */

.table-main {
  table-layout: auto;
  width: 70%;
  /* border: 3px solid black; */
  padding: 3px;
  text-align: center;
  border-collapse: collapse;
  margin: 10px 20px;
  border-radius: 5px;
}

.table-cell {
  padding: 10px;
  border: 3px solid rgb(132, 132, 132);
  font-size: 20px;
}

/*code*/

.code-block {
  margin: 30px;
  width: 75%;
}

.code-span {
  color: white;
  background: rgb(34, 52, 80);
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  padding: 2px;
  font-size: 14px;
}

/* footer */

.footer {
  text-align: center;
  height: 150px;
  margin: 50px 0px;
  border-top: solid black 2pt;
  padding: 20px 0px;
  background: var(--metro-light-blue);
}
.footer-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img1 {
  position: relative;
  left: 10%;
  width: 80%;
}
