.App {
  display: grid;
  width: 100%;
}
.main {
  display: flex;
  width: 100%;
}

/* Styles for Nav Element */

.side-nav {
  display: inline-block;
  height: fit-content;
  width: 332px;
  min-width: 300px;
  border: solid black 1pt;
  vertical-align: top;
}
.link-node {
  display: inline-flex;
  width: 33%;
  height: 100px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.link-node:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 2px;
}
.link-node:active {
  transform: scale(1.05);
  box-shadow: 1px 1px 5px 1px;
}

.link-node_name {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 800;
}

/* Styles for the Home Elements */

:root {
  --color13: #d5f4e6;
  --color14: #80ced6;
  --color15: #fefbd8;
  --color16: #618685;

  --color17: #d5f4e6;
  --color18: #80ced6;
  --color19: #fefbd8;
  --color20: #618685;

  --color21: #d5f4e6;
  --color22: #80ced6;
  --color23: #fefbd8;
  --color24: #618685;
}

.color1 {
  background: var(--color1);
}
.color2 {
  background: var(--color2);
}
.color3 {
  background: var(--color3);
}
.color4 {
  background: var(--color4);
}

.home-section {
  display: inline-block;
  width: 66%;
  min-width: 300px;
  height: fit-content;
  border: solid black 1pt;
}
.header {
  min-height: 3rem;
  display: flex;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  margin: auto;
}
.home-content {
  padding: 10px;
  height: 300px;
}

.home-content p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin: 0px;
}

.section-header {
  background: linear-gradient(rgb(232, 232, 232), #99a0a8);
  width: 30%;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 3pt solid grey;
  clip-path: polygon(0 0, 0 100%, 60% 100%, 100% 60%, 100% 0);
}
